@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
}
nav ul{
    list-style-type: none;
    background-color: beige;
    text-align: right;
    padding: 0;
    margin: 0;
}
nav li{
    font-size: 1.2em;
    line-height: 40px;
    height: 40px
    display: inline-block;
    margin: 1.5%;
    float: right;

}nav a{
    text-decoration: none;
    color: #ffff
    display: block;
}
nav h1 {
    height:50px;
    weight: 50px;
    font-size: x-large;
    padding-bottom: 20px;
    
}
nav h1 a {
    padding: 0px;
    margin: 1.5%;
    display: inline-block;
}
.hint {
    float: left; 
    width: 20%;
}
 img {
     border: 1px solid #ddd;
     height: 500px;
     width: 1000px;
     padding-top: 0px;
     margin-bottom: 1px;   
}
 p {
     font-size: 18px;
     color: rgb(0, 0, 0);
     font-family: oswald;
     margin-top: 10px; 
 }
 #mission {
     family-font: oswald;
     font-size: 12px;
     
 }
 #mission h2 {
     margin-top: 20px;
     padding-bottom: 0px;
     padding-right: 5px;
     font-weight: bold;
     color:black;
 }
 .equipments {
     font-family: oswald, sans-serif;
     font-size: 12px;
 }
 .equipments ul {
     list-style: none;
     color: black;
     font-weight: bold;
     margin-top: 20px;
     padding-left: 10px
 }
 .equipments h2 {
     font-size: 25px;
     font-family: oswald, sans-serif;
     text-decoration: none;
     color: black;
     margin-top: 25px;
     padding-bottom: 20px;
     padding-right: 5px
 }
 .equipments li {
     padding-bottom: 10px;
     padding-right: 5px;
     margin-top: 0;
     font-size: 25px;
     font-weight: bold;
 }
 .ingredients {
    font-family: oswald, sans-serif;
    font-size: 12px;
 }   
.ingredients ul {
    list-style: none;
    color: black;
    font-weight: bold;
    margin-top: 0px;
    padding-left: 10px
}
.ingredients li {
    padding-bottom: 0px;
    padding-right: 5px;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}
.ingredients h2 {
    font-size: 25px;
    font-family: oswald, sans-serif;
    text-decoration: none;
    color: black;
    margin-top: 25px;
    padding-bottom: 20px;
    padding-right: 5px;
} 
#address scan {
    font-family: lato, sans-serif;
    margin-top: 25px;
    padding-bottom: 25px; 
    width: 100px;
    height: 80;
    font-size: 20px;
    font-weight: bold;
}
#email {
    font-family: Lato, sans-serrif;
    margin: 0px;
    padding: 0px;
    
}
#email scan {
    font-family: lato, sans-serif;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    
}
#address {
    font-family: oswald, sans-serif;
    margin-top: 0px;
    padding-bottom: 0px;
}
#address h2 {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
    padding-bottom; 25px;
    
}
#address p {
    font-size: 25px;
    color: black;
    font-weight:bold;
    margin-top: 25px;
    padding-bottom: 25px;
    
 #table {
     font-family: lato, sans-serrif;
     width: 400px;
     height: 300px;
     padding-bottom: 30px;
     margin-top: 40px;  
     border: 2px solid black;
     display: inline;
     font-size: 20px;
 } 
 .table  {
     width: 800px;
     height: 600px;
     margin-top: 10px;
     padding-bottom: 10px;
 } 
 .table td { 
     border: 1px solid white;
     font-weight: bold;
     font-size: 25px;
 }
 .footer {
     font-family: oswald;
     font-size: 25px;
 }
 .footer ul {
     text-align: right;
     width: 300px;
     height: 250px;
     list-style-type: none;
     margin: 0;
     padding: 0;
     font-size: 25px;
 }
 .footer li {
     text-style: none;
     float: center;
     display: inline-block;
     font-weight: bold;
     width: 300px;
     height:250px;
     margin: 0;
     padding: 0;
     position: relative;
 }        
    #socia-media {
         float: right;
         position: absolute;
    
 }


    

