@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    font-family: lato, sans-serif;
    font-size: 15px;
}

.logo h1 {
    float: left;
    text-decoration: none;
    margin-top: 14px;
}

.menu {
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
}

.menu li {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    color: aqua;
    text-decoration: underline;
}

.active {
    border-bottom: 1px solid black;
}

.pic-outer {
    margin: 0, auto;
}

img {
    width: 80%;
    height: 500px;
    margin-top: 30px;
}

#unique {
    font-family: oswald, sans-serif;
    font-size: 35px;
    margin: 1%;
}

#unique h2 {
    font-weight: 50px;
    font-size: 40px;
    height: 70px;
    margin-bottom: 20px;
}

#unique p {
    font-size: 25px;
    height: 20px;
    margin-right: 60%;
    border-top: 20px;
}

#unique-image {
    margin-top: 15%;
}

#unique-image img {
    width: 40%;
    height: 300px;
    position: absolute;
    left: 40%;
    top: 94%;
    overflow: hidden;
}

#mission {
    font-family: oswald, sans-serif;
    font-size: 30px;
    margin: 1%;
    padding-top: 40px;
}

#products {
    font-family: oswald, sans-serif;
    font-size: 30px;
    margin: 15%;
    margin-left: 10px;
    margin-top: 20px;
    left: 39%;
    top: 125%;
    position: absolute;
}

#mission h2 {
    font-weight: 50px;
    font-size: 40px;
    height: 70px;
    margin-bottom: 5px;
}

#products h2 {
    font-weight: 50px;
    font-size: 40px;
    height: 70px;
    margin-top: 70px;
    padding-top: 80px;
}

#mission p {
    font-size: 25px;
    height: 20px;
    margin-right: 60%;
    border-top: 20px;
}

#products p {
    font-size: 25px;
    height: 20px;
    margin-right: 50%;
    margin-bottom: 40px;
    padding-bottom: 80px;
    display: inline;
}

#equipments {
    font-family: oswald, sans-serif;
    font-size: 30px;
    margin: 15%;
    margin-left: 10px;
}

#ingredients {
    font-family: oswald, sans-serif;
    font-size: 30px;
    margin: 10%;
    margin-left: 20px;
    padding-bottom: 80px;
    left: 40%;
    top: 177%;
    position: absolute;
}

#equipments h2 {
    font-weight: 50px;
    font-size: 40px;
    height: 70px;
    margin-top: 60px;
    padding-top: 20px;
}

#ingredients h2 {
    margin-bottom: 20px;
    padding-top: 20px;


}

#equipments ul {
    height: 25px;
    margin-bottom: 40px;
    padding-bottom: 80px;
    list-style-type: none;
}

#ingredients ul {
    height: 25px;
    margin-bottom: 40px;
    padding-bottom: 80px;
    display: inline;
    list-style-type: none;
}

#address {
    font-family: oswald, sans-serif;
    font-size: 25px;
    font-weight: 20px;
    margin: 10%;
    margin-left: 20px;
    padding-bottom: 30px border-top: 30px;
}

#address scan {
    padding-bottom: 40px;
}

#address h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 130px;
}

#address p {
    font-size: 30px;
    font-weight: bold;
}

#email {
    font-family: oswald, sans-serif;
    font-size: 40px;
    font-weight: 20px;
    margin: 20%;
    border-top: 50px;
    top: 260%;
    left: 10%;
    position: absolute;
}

#email scan {
    font-size: 30px;
    width: 200px;
    height: 150px;
    font-weight: bold;
    border-top: 30px;
    margin-top: -10px;
    display: inline;
}

scan {
    font-size: 30px;
    width: 30px;
    height: 40px;
    font-weight: bold;
}

h2.h {
    font-family: oswald, sans-serif;
    font-sixe: 20px;
    width: 100px;
    height: 20px;
    font-weight: bold;
    margin-left: 20px;
    top: 338%;
    position: absolute;
}

table {
    color: red;
    font-family: oswald, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 50px;
    top: 338%;
    left: 6%;
    position: absolute;
}

th,td {
    border: 1px solid black;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

td {
    text-align: center;
}

table.a {
    table-layout: fixed;
    width: 60%;
}

footer {
    font-family: oswald, sans-serif;
    font-size: 25px;
    font-weight: bold;
    top: 400%;
    position: absolute;
}

footer h3 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}

footer p {
    margin: 3%;
}

#div-nav (
    display: inline;
)

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    width: 300px;
    height: 80px;
}

#nav li {
    float: right;
    list-style-type: none;
    line-height: 30px;
    margin-left: 30px;
    text-decoration: none;

}

#nav ul li a {
    background: right;
    padding: 25px;
    display: block;
    font-size: 20px
    border-radius: 4px;
    max-width: 70%;
}
