@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
}
nav ul{
    list-style-type: none;
    background-color: beige;
    text-align: right;
    padding: 0;
    margin: 0;
}
nav li{
    font-size: 1.2em;
    line-height: 40px;
    height: 40px
    display: inline-block;
    margin: 1.5%;
    float: right;

}nav a{
    text-decoration: none;
    color: #ffff
    display: block;
}
nav h1 {
    height:50px;
    weight: 50px;
    font-size: x-large;
    padding-bottom: 20px;
    
}
nav h1 a {
    padding: 0px;
    margin: 1.5%;
    display: inline-block;
}
.hint {
    float: left; f
    width: 20%;
}
 img {
     border: 1px solid #ddd;
     height: 500px;
     width: 1000px;
     padding-top: 0px;
     margin-bottom: 1px;   
}
 p {
     font-size: 18px;
     color: rgb(0, 0, 0);
     font-family: oswald;
     margin-top: 10px; 
 }
 #mission {
     family-font: oswald;
     font-size: 12px;
     
 }
 #mission h2 {
     margin-top: 20px;
     padding-bottom: 0px;
     font-weight: bold;
     color:black;
 }
 .equipments {
     font-family: oswald, sans-serif;
     font-size: 12px;
 }
 .equipments ul {
     list-style: none;
     color: black;
     font-weight: bold;
     margin-top: 0px;
     padding-left: 10px
 }
 .equipments h2 {
     font-size: 20px;
     font-family: oswald, sans-serif;
     text-decoration: none;
     color: black;
     margin-top: 25px;
     padding-bottom: 20px;
 }
 .equipments li {
     padding-bottom: 0px;
     padding-right: 5px;
     margin-top: 0;
     font-size: 22px;
     font-weight: bold;
 }
 .ingredients {
    font-family: oswald, sans-serif;
    font-size: 12px;
 }   
.ingredients ul {
    list-style: none;
    color: black;
    font-weight: bold;
    margin-top: 0px;
    padding-left: 10px
}
.ingredients li {
    padding-bottom: 0px;
    padding-right: 5px;
    margin-top: 0;
    font-size: 22px;
    font-weight: bold;
}
.ingredients h2 {
    font-size: 20px;
    font-family: oswald, sans-serif;
    text-decoration: none;
    color: black;
    margin-top: 25px;
    padding-bottom: 20px;
} 
#address{
    border: 2px, solid black;
    margin: 20px;
    padding: 10px;
    font family: lato, sans-serif;
    bord0px;
}
